body{
    margin: 1%;
    background-color: #faf4d3;
    color: #0c1618;
    font-family: "Share Tech", sans-serif;
}

h1{
    margin: 0in;
    padding: 0.5in;
    text-align: center;
    background-color: #004643;
    color: #faf4d3;
    font-family: "Share Tech", sans-serif;
}
h2{
    text-align: center;
    color: red;
    font-family: 'theFont';
    font-family: "Share Tech", sans-serif;
}
h3 {
    text-align: center;
    font-family: 'theFont';
    font-family: "Share Tech", sans-serif;
}
.border{
    color: #004643;
    border-style: dotted;
    padding: 2%;
}
.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
p{
    text-align: center;
}
.red {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 5px;
    display: inline-block;
}
.green {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 5px;
    display: inline-block;
}
.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
    display: inline-block;
}